[submodule "zsh/oh-my-zsh"]
	path = zsh/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "zsh/.oh_my_zsh"]
	path = zsh/.oh_my_zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
